asgiref
asttokens
async-generator
attrs
backcall
beautifulsoup4
certifi
charset-normalizer
debugpy
decorator
dj-database-url
Django
django-heroku
entrypoints
exceptiongroup
executing
gunicorn
h11
html5lib
idna
ipykernel
ipython
jedi
jupyter-client
jupyter-core
matplotlib-inline
nest-asyncio
numpy
outcome
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
Pygments
pyparsing
PySocks
python-dateutil
python-decouple
python-dotenv
pytz
pyzmq
requests
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
tornado
tqdm
traitlets
trio
trio-websocket
undetected-chromedriver
urllib3
wcwidth
webdriver-manager
webencodings
websockets
wget
whitenoise
wsproto
